.hoverPopup {
    position: absolute;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* .translation {
    text-decoration: underline;
} */

.translation:hover {
    background-color: rgb(0, 204, 255);
    cursor:default;
    text-decoration: none;
}

.saved {
    background: yellow;
}