.hoverPopup {
    position: absolute;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.translation:hover {
    background-color: yellow;
    cursor:default;
}